body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0056b3;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    text-align: center;
}

.animated-box {
    width: 100px;
    height: 100px;
    background-color: #c6c0d8;
    margin: 50px auto;
    border-radius: 50%;
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
